<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.anagnostou.publisher"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <activity android:name=".telas.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".telas.SearchResults" />
        </activity>

        <activity
            android:name=".telas.AtividadesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.anagnostou.publisher.MainActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".telas.SearchResults" />
        </activity>
        <activity android:name=".telas.SearchResults">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.anagnostou.publisher.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Content Provider to query sqlite database -->
        <provider
            android:name=".CustomSuggestions"
            android:authorities="br.com.anagnostou.publisher.CustomSuggestions"
            android:exported="true" />

        <activity
            android:name=".telas.CartaoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.anagnostou.publisher.MainActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".telas.SearchResults" />
        </activity>
        <activity
            android:name=".AppPreferences"
            android:label="@string/preferencias"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".services.CheckSQLService"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>